<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>
<body>
    <h1>All Users</h1>
        <% for(let oneUser of users){ %>
    
        <p><%= oneUser.username %></p>
        <p><%= oneUser.password %></p>
       

    <% } %>
</body>
</html>